{% extends "layout.html" %}

{% set pageId = "page-create-point"%}

{% block title %}
<title>Criar ponto de coleta</title>
{% endblock title %}


{% block styles %}
<link rel="stylesheet" href="styles/create-point.css">
<link rel="stylesheet" href="styles/modal.css">
{% endblock styles %}


{% block content %}
{% include "partials/page-header.html" %}
<form action="/savepoint" method="POST">

    <h1>Cadastro do ponto de coleta</h1>

    <fieldset>
        <legend>
            <h2>Dados da entidade</h2>
        </legend>
        <div class="field-group">
            <div class="field">
                <label for="name">Nome da entidade</label>
                <input type="text" name="name" required>
            </div>
            <div class="field">
                <label for="name">Imagem da entidade</label>
                <input type="url" name="image" placeholder="http://" required>
            </div>
            
        </div>

        <!-- <div class="field">
            <label for="name">Nome da entidade</label>
            <input type="text" name="name" required>
        </div> -->

        <div class="field-group">
            <div class="field">
                <label for="address">Endereço</label>
                <input type="text" name="address" required>
            </div>
            <div class="field">
                <label for="address2">Número/Complemento</label>
                <input type="text" name="address2" required>
            </div>
        </div>

        <div class="field-group">
            <div class="field">
                <label for="state">Estado</label>
                <select name="uf" required>
                    <option value="">Selecione o Estado</option>
                </select>

                <input type="hidden" name="state">
            </div>
            <div class="field">
                <label for="city">Cidade</label>
                <select name="city" disabled required>
                    <option value="">Selecione a Cidade</option>
                </select>
            </div>
        </div>

    </fieldset>

    <fieldset>
        <legend>
            <h2>Itens de coleta</h2>
            <span>Selecione um ou mais itens abaixo</span>
        </legend>

        <div class="items-grid">
            <li data-id="Lampadas">
                <img src="icones/lampadas.svg" alt="lâmpadas">
                <span>Lampadas</span>
            </li>

            <li data-id="Pihas e Baterias">
                <img src="icones/baterias.svg" alt="pihas e baterias">
                <span>Pihas e Baterias</span>
            </li>

            <li data-id="Papeis-Papelão">
                <img src="icones/papeis-papelao.svg" alt="papeis-papelao">
                <span>Papeis-Papelão</span>
            </li>

            <li data-id="Resíduos Eletrônicos">
                <img src="icones/eletronicos.svg" alt="resíduos eletronicos">
                <span>Resíduos Eletrônicos</span>
            </li>

            <li data-id="Resíduos Orgânicos">
                <img src="icones/organicos.svg" alt="res[iduos orgânicos">
                <span>Resíduos Orgânicos</span>
            </li>

            <li data-id="Óleo de cozinha">
                <img src="icones/oleo.svg" alt="ole">
                <span>Óleo de cozinha</span>
            </li>
        </div>

        <input type="hidden" name="items">
    </fieldset>


    <button type="submit">Cadastrar ponto de coleta</button>

</form>



{% endblock content %}


{% block modal %}

    {% if saved == true %}
        {% include "partials/point-created.html" %}  

        {% elif saved == false %}
        {% include "partials/err-page.html" %}  

    {% endif %}



{% endblock modal %}


{% block scripts %}
<script src="./scripts/create-point.js"></script>
{% endblock scripts %}


</html>